html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#bodyContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

#bodyContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("backgroud.avif");
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.08; /* Ajusta la transparencia aquí. 0.8 significa 80% de opacidad, o 20% de transparencia */
  z-index: -1; /* Coloca la imagen de fondo detrás del contenido del container */
}
